@charset "UTF-8";
html, body, .container.mapa, .row.mapa {
    padding: 0;
    margin: 0;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}
.container.mapa {
    max-height: 95%;
    max-width: 99.1%;
}
.row.mapa {
    max-height: 96%;
    max-width: 100%;
}
.col.mapa {
    max-height: 100%;
    max-width: 100%;
}
#mapa_regosh, .col.mapa {
    padding: 0;
    width: 100%;
    height: 100%;
}
a.nodo_link {
    color: black;
    text-decoration: none;
}
.nodo_titulo {
    font-size: x-large;
}
.nodo_nome {
    font-size: small;
}
.nodo_descricao {
    font-size: medium;
}
.nodo_atividade {
    font-size: x-small;
    color: #333;
}
.nodo_imagem {
    max-width: 300px;
    max-height: 100%;
}
